<div class="sidebar-filesystem">
<!--    <div class="sidebar-filesystem-project-name">-->
<!--        <span>{{workspacePath}}</span>-->
<!--    </div>-->
    <div class="sidebar-filesystem-controls">
        <app-sidebar-filesystem-controls [projectPath]="projectPath"       (expandAllEvent)="expandAllNodes()"
                                         (collapseAllEvent)="collapseAllNodes()" (sortChange)="onSortChange($event)"
                                         [fileStructureLength]="fileStructure.length"
        />
        <app-sidebar-filesystem-search (searchQuery)="onSearch($event)"/>
    </div>
    <ul class="sidebar-filesystem-ul">
        <ng-container *ngFor="let node of filteredFileStructure">
            <app-file-node [node]="node"         (dragstart)="onDragStart($event, node)"
                           (dragover)="onDragOver($event)"
                           (drop)="onDrop($event, node)" draggable="true"
                           (fileSelected)="onFileSelected($event)"
            ></app-file-node>
        </ng-container>
        <div *ngIf="filteredFileStructure.length === 0" class="no-results">
            {{'projectPage.labels.noResultsFound' | translate}}
        </div>
        <div *ngIf="fileStructure.length === 1" class="no-results">
            <div class="empty-project-content">
                {{'projectPage.labels.emptyProject' | translate}}
            </div>
        </div>
    </ul>

    <div class="sidebar-filesystem-footer">
        <app-app-version/>
        <div class="project-name-container">
            <span>{{workspacePath}}</span>
        </div>
    </div>
</div>