<div class="sidebar-filesystem-controls-items">
    <div class="sidebar-filesystem-controls-item" (click)="onCreateNote()">
        <img src="assets/icons/svg/filesystem/controls/new-note.svg" title="Создать заметку">
    </div>
    <div class="sidebar-filesystem-controls-item" (click)="onCreateFolder()">
        <img src="assets/icons/svg/filesystem/controls/new-folder.svg" title="Создать папку">
    </div>
    <div class="sidebar-filesystem-controls-item" (click)="toggleExpandCollapse()">
        <img
                [src]="isExpanded ? 'assets/icons/svg/filesystem/controls/collapse.svg' : 'assets/icons/svg/filesystem/controls/expand.svg'"
                [title]="isExpanded ? 'Свернуть все': 'Развернуть все'"
        />
    </div>
    <div class="sidebar-filesystem-controls-item" (click)="onRightClick($event)">
        <img src="assets/icons/svg/filesystem/controls/sort.svg" title="Порядок сортировки">
    </div>
</div>
<app-text-modal
        *ngIf="textModalService.isModalOpenStatus()"
        [title]="textModalService.getModalTitle()"
        [inputValue]="textModalService.getModalInput()"
        (confirm)="confirmModal()"
        (close)="closeModal()"
        (inputValueChange)="textModalService.updateModalInput($event)"
        [placeholderInput]="textModalService.getModalInputPlaceholder()"
></app-text-modal>
<app-context-menu *ngIf="showSortContextMenu" [items]="(sortingContextMenuService.menu$ | async) || []" [position]="PositionEnum.FIXED" [x]="menuX" [y]="menuY" (close)="onMenuClose()" (itemSelected)="onSortSelect($event)"/>
