<div class="project-page">
    <app-sidebar     [sidebarWidth]="sidebarWidth"
                     [isSidebarHidden]="isSidebarHidden" [projectPath]="projectPath" (fileSelected)="openTab($event)"/>

    <div class="content" *ngIf="tabs.length > 0">
        <div class="tabs-container" [style.border-bottom]="tabs.length > 0 ? '1px solid var(--text-color)' : null">
            <app-file-tab
                    *ngFor="let tab of tabs"
                    [tab]="tab"
                    (close)="closeTab($event)"
                    (select)="setActiveTab($event)"
                    [class.pinned]="tab.isPinned"
                    (pinTabEvent)="pinTab($event)"
                    (unpinTabEvent)="unpinTab($event)"
                    (closeOthersEvent)="closeOtherTabs($event)"
                    (closeAllEvent)="closeAllTabs()">
            >
            </app-file-tab>
        </div>

        <app-content-tab
                *ngIf="activeTab"
                [filePath]="activeTab.filePath"
                [fileName]="activeTab.fileName"
        >
        </app-content-tab>
    </div>

    <div class="standard-content" *ngIf="tabs.length === 0">
        <div class="welcome-container">
            <h2>Добро пожаловать в Markdown-редактор!</h2>
            <p>Откройте файл из боковой панели или создайте новый файл/папку, чтобы начать работу.</p>
            <div class="button-group">
                <button class="new-file-btn" (click)="onCreateNote()">Создать новый файл</button>
                <button class="new-folder-btn" (click)="onCreateFolder()">Создать новую папку</button>
            </div>
            <div class="tips">
                <h3>Полезные советы:</h3>
                <ul>
                    <li>Кликните на файл в боковой панели для открытия</li>
                    <li>Используйте правую кнопку мыши для контекстного меню</li>
                    <li>Прокручивайте табы, если их слишком много</li>
                </ul>
            </div>
        </div>
    </div>
</div>
