<div class="modal-content">
    <app-header-description [title]="title" [description]="description"/>
    <div *ngIf="step === 'confirm'" class="button-container">
        <button class="yes-button" (click)="onConfirm()">Да</button>
        <button class="no-button" (click)="onNotConfirm()">Нет</button>
    </div>
        <div class="button-container">
            <button class="yes-button" (click)="onConfirm()">Подтвердить</button>
            <button class="no-button" (click)="onNotConfirm()">Отмена</button>
        </div>
</div>