<div class="sidebar-actions">
    <div class="sidebar-actions-items">
        <button class="vault-button" (click)="onCreateVaultPage()">
            <img src="assets/icons/svg/actions/vault.svg">
        </button>
        <button class="setting-button" (click)="openSettingsModal()">
            <img src="assets/icons/svg/actions/settings.svg">
        </button>
    </div>
</div>

<app-modal-base
        [isOpen]="modalsControls.settings.isModalOpen"
        [closeOnOverlayClick]="true"
        [contentBorderRadius]="'12px'"
        (closed)="closeSettingsModal()"
        [isDraggable]="false"
>
    <app-settings-modal [tabService]="tabService"/>
</app-modal-base>