<div class="tab-controls-actions">
    <div class="actions">
        <div class="view-list">
            <div class="view-item" [style.background]="view === MarkdownView.ONE_SIDE ? 'var(--text-color)' : 'transparent'">
                <img src="assets/icons/svg/view/one-page.svg" (click)="onOneSide()">
            </div>
            <div class="view-item" [style.background]="view === MarkdownView.TWO_SIDE ? 'var(--text-color)' : 'transparent'">
                <img src="assets/icons/svg/view/two-page.svg" (click)="onTwoSide()">
            </div>
            <div class="view-item" [style.background]="!isVersionPanelCollapsed ? 'var(--text-color)' : 'transparent'">
                <img src="assets/icons/svg/actions/version-history.svg" (click)="toggleVersionPanel(!isVersionPanelCollapsed)">
            </div>
        </div>

        <div class="filepath">
            <span>{{ filePath }}</span>
        </div>
        
        <div class="parameters">
            <img src="assets/icons/svg/actions/parameters.svg" (click)="onRightClick($event)">
            <app-context-menu *ngIf="showContextMenu" [items]="MarkdownSettingsMenuItems" [x]="menuX" [y]="menuY" (close)="onMenuClose()"></app-context-menu>

            <div class="param-item">
                <ng-container *ngIf="onDocumentCloudSync">
                    <img src="assets/icons/svg/markdown-content/cloud-sync.svg" title="Документ синхронизирован с облачным хранилищем">
                </ng-container>

                <ng-container *ngIf="!onDocumentCloudSync">
                    <img src="assets/icons/svg/markdown-content/cloud-not-sync.svg" title="Документ не синхронизирован с облачным хранилищем">
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="tab-controls-editor">
<!--    <div class="editor-container" *ngIf="view === MarkdownView.TWO_SIDE">-->
<!--&lt;!&ndash;        <div class="line-numbers" *ngIf="SettingsService.getLineNumbers()">&ndash;&gt;-->
<!--&lt;!&ndash;            <span *ngFor="let number of lineNumbers" [class.active-line]="number === currentLine">{{ number }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <textarea-->
<!--                class="editor-textarea"-->
<!--                [(ngModel)]="content"-->
<!--                (input)="onContentChange($event)"-->
<!--                (keyup)="onCursorMove($event)"-->
<!--                (click)="onCursorMove($event)"-->
<!--                [value]="MarkdownSettingsMenuItems[0].select ? renderedContent : content"-->
<!--                placeholder="Введите Markdown здесь..."></textarea>-->
<!--        <div #renderedContentRef class="rendered-content" [innerHTML]="renderedContent"></div>-->
<!--    </div>-->

    <div class="editor-container" *ngIf="view === MarkdownView.TWO_SIDE">
        <div *ngIf="showDiff" class="diff-view" [innerHTML]="diffContent"></div>
        <textarea
                *ngIf="!twoSideFullView"
                class="editor-textarea"
                [(ngModel)]="content"
                (input)="onContentChange($event)"
                (keyup)="onCursorMove($event)"
                (click)="onCursorMove($event)"
                [value]="MarkdownSettingsMenuItems[0].select ? renderedContent : content"
                placeholder="Введите Markdown здесь..."></textarea>
        <div #renderedContentRef class="rendered-content" [innerHTML]="renderedContent"></div>
        <div [style.right]="!isVersionPanelCollapsed ? '18vw' : '2vw'" class="toggle-two-side" (click)="toggleTwoSideFullView()">
            <span *ngIf="!twoSideFullView">⮜</span>
            <span *ngIf="twoSideFullView">⮞</span>
        </div>
    </div>

    <div class="editor-container" *ngIf="view === MarkdownView.ONE_SIDE">
<!--        <div class="line-numbers" *ngIf="SettingsService.getLineNumbers()">-->
<!--            <span *ngFor="let number of lineNumbers" [class.active-line]="number === currentLineIndex + 1">{{ number }}</span>-->
<!--        </div>-->
        <div #editorRef class="one-side-editor" tabindex="0">
            <ng-container *ngFor="let line of lines; let i = index">
                <div
                        *ngIf="i !== currentLineIndex && MarkdownSettingsMenuItems[0].select"
                        class="rendered"
                        (click)="onLineClick(i)"
                        [textContent]="renderLine(line)"
                ></div>
                <div
                        *ngIf="i !== currentLineIndex && !MarkdownSettingsMenuItems[0].select"
                        class="rendered"
                        [innerHTML]="renderLine(line)"
                        (click)="onLineClick(i)"
                ></div>
                <input
                        *ngIf="selectAllMode || i === currentLineIndex"
                        [value]="!MarkdownSettingsMenuItems[0].select ? line : renderLine(line)"
                        (input)="onInput($event)"
                        (blur)="onBlur($event)"
                        class="editor-input"
                        spellcheck="true"
                        autofocus
                        (keydown)="onInputKeyDown($event)"
                />
            </ng-container>
        </div>
    </div>
    <app-version-list
            [versions]="versions"
            [isCollapsed]="isVersionPanelCollapsed"
            (versionSelected)="selectVersion($event)"
            (collapseToggled)="toggleVersionPanel($event)"
            [fileName]="fileName"
            [filePath]="filePath"
            [currentDocument]="currentDocument"
            (newVersion)="createNewDocumentVersion()"
            (delVersion)="deleteCurrentVersion()"
            [projectPath]="projectPath"
    ></app-version-list>
</div>

<div class="tab-controls-info">
    <div class="info">
        <span>Символов: {{ statistics.characterCount }}</span>
        <span>Слов: {{ statistics.wordCount }}</span>
        <span>Строк: {{ statistics.lineCount }}</span>
        <span>Время чтения: {{ statistics.readingTime }}</span>
        <span>Заголовков: {{ statistics.headingCount }}</span>
    </div>
</div>

<app-audio-track
        *ngIf="showAudioTrack.value"
        [text]="content"
        [gender]="currentGender"
        (closed)="hideAudioTrack()"
        [fileName]="fileName"
>
</app-audio-track>

<app-version-diff-modal
        *ngIf="showDiffModal"
        [prevVersionContent]="prevVersionContent"
        [currentVersionContent]="currentVersionContent"
        [prevVersionNumber]="prevVersionNumber"
        [currentVersionNumber]="currentVersionNumber"
        [prevFileSize]="prevFileSize"
        [currentFileSize]="currentFileSize"
        (close)="closeDiffModal()"
></app-version-diff-modal>