<div class="create-project-form">
    <div class="selection-types">
        <app-selection-cards [items]="PROJECT_TYPES" (selectionChange)="onProjectTypeSelection($event)"/>
    </div>

    <app-input-text-field  id="project-name" [label]="'createPage.labels.projectName' | translate" [(value)]="projectName"/>

    <div class="project-path-container">
        <app-input-text-field  id="project-path" [label]="'createPage.labels.projectPath' | translate" [(value)]="projectPath" [readonly]="false"/>
        <app-fill-button id="choose-folder" [buttonText]="'createPage.buttons.chooseFolder' | translate" (click)="selectProjectPath()"/>
    </div>

    <div class="options-container">
        <app-select [selects]="presets" (selectedSelect)="onPresetSelect($event)" [label]="'createPage.labels.choosePreset' | translate"/>
        <app-checkbox [(checked)]="createReadme" [label]="'createPage.labels.createReadme' | translate"/>
    </div>

    <div class="confirm-container">
        <app-fill-button [buttonText]="'createPage.buttons.createProject' | translate" (click)="onSubmit()"/>
    </div>
</div>
