<div class="tab-content" *ngIf="filePath">
    <ng-container *ngIf="getFileExtension(fileName) === FILE_TYPES.MD">
        <app-markdown-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="isImageFile(getFileExtension(fileName))">
        <app-image-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="isVideoFile(getFileExtension(fileName))">
        <app-video-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="getFileExtension(fileName) === FILE_TYPES.TXT">
        <app-text-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="getFileExtension(fileName) === FILE_TYPES.HTML">
        <app-html-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="getFileExtension(fileName) === FILE_TYPES.PDF">
        <app-pdf-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="isAudioFile(getFileExtension(fileName))">
        <app-audio-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>

    <ng-container *ngIf="!isSupportedFile(getFileExtension(fileName))">
        <app-not-open-content [fileName]="fileName" [filePath]="filePath"/>
    </ng-container>
</div>