<div class="tab" [class.active]="tab.isActive" (click)="onTabClick()" (contextmenu)="onRightClick($event)">
    <img class="tab-icon" [src]="getFileIcon(tab.fileName)">
    <span>{{ tab.fileName }}</span>
    <button *ngIf="!tab.isPinned" class="close-btn" (click)="onClose($event)">×</button>
</div>
<app-tab-context-menu
        *ngIf="showContextMenu"
        [tab]="tab"
        [position]="contextMenuPosition"
        (pin)="pinTab()"
        (unpin)="unpinTab()"
        (close)="closeTab()"
        (closeOthers)="closeOtherTabs()"
        (closeAll)="closeAllTabs()">
</app-tab-context-menu>