<li *ngIf="!isHiddenDirectory()" class="file-node" (contextmenu)="onRightClick($event)">
    <div
            class="file-node-content"
            (contextmenu)="onRightClick($event)"
            (click)="toggleExpand()"
            (dragstart)="onDragStart($event, node)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, node)"
            [draggable]="true"
    >
        <!-- Линия вложенности -->
        <div
                *ngIf="node.expanded && isDirectory() && node.children && node.children.length > 0"
                class="indent-line"
                [ngStyle]="{ height: getIndentLineHeight() }"
        ></div>

        <span *ngIf="isDirectory()" class="file-node-icon folder-icon">
      <img [src]="DEFAULT_FOLDER_ICON" />
    </span>
        <span *ngIf="!isDirectory()" class="file-node-icon file-icon">
      <img [src]="getFileIcon(node.name, isDirectory())" />
    </span>
        <!-- Название и содержимое -->
        <span class="file-node-name">
                        {{ getNodeName() }}
            <span *ngFor="let tag of tags" class="tag-label" [style.background]="tag.tag_color" [title]="tag.tag_label">{{tag.tag_label}}</span>
            <ng-container *ngIf="isDirectory()">
        <span class="count-contents">
          ({{ 'projectPage.labels.nodeFileCountContents' | translate }}
            {{ countContents(node).files }} -
            {{ 'projectPage.labels.nodeDirectoryCountContents' | translate }}
            {{ countContents(node).folders - 1 }})
        </span>
      </ng-container>
    </span>
    </div>

    <!-- Дочерние элементы -->
    <ul *ngIf="node.expanded && node.children" class="file-node-children">
        <app-file-node
                *ngFor="let child of node.children"
                [node]="child"
                (fileSelected)="fileSelected.emit($event)"
                (dragstart)="onDragStart($event, child)"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event, child)"
        ></app-file-node>
    </ul>

    <app-context-menu *ngIf="showContextMenu" [items]="FileNodeContextMenuFilter" [x]="contextMenuPosition.x" [y]="contextMenuPosition.y" (close)="onMenuClose()"></app-context-menu>
</li>

<div class="tag-modal" *ngIf="showAddTagModal">
    <div class="tag-modal-content">
        <h2>Управление тегами для элемента</h2>
        <div class="tag-list">
            <div *ngFor="let tag of tagService.getLocalTags()" class="tag-item">
                <div class="tag-item-info">
                    <span [style.background]="tag.tag_color" class="tag-color"></span>
                    <span>{{ tag.tag_label }}</span>
                </div>
<!--                <app-fill-button-->
<!--                        (click)="toggleTagAttachment(tag.tag_id)"-->
<!--                        [buttonText]="tagService.isTagAttached(node.path, tag.tag_id) ? 'Отвязать' : 'Привязать'"-->
<!--                        [colorBtn]="tagService.isTagAttached(node.path, tag.tag_id) ? danger : success"-->
<!--                />-->
                <app-fill-button
                        (click)="toggleTagAttachment(tag.tag_id)"
                        [buttonText]="tagService.isTagAttached(node.path, tag.tag_id) ? 'Привязать' : 'Отвязать'"
                        [colorBtn]="tagService.isTagAttached(node.path, tag.tag_id) ? success : danger"
                />
            </div>
        </div>
        <app-fill-button (click)="closeAddTagModal()" buttonText="Закрыть" [colorBtn]="danger"/>
    </div>
</div>