.audio-track {
    position: fixed;
    bottom: 20px;
    left: 10vw;
    right: 0;
    background: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80vw;
    border-radius: 20px;
}

.audio-track.minimized{
    width: 40vw;
    left: 30vw;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #555;
}
.progress {
    height: 100%;
    background: #4CAF50;
    transition: width 0.1s linear;
}
.controls {
    display: flex;
    gap: 10px;
    justify-content: center;
}
button {
    padding: 5px 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
button:disabled {
    background: #777;
    cursor: not-allowed;
}

.disclaimer {
    text-align: center;
    margin-top: 5px;
}

.disclaimer-item{
    color: red;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}

.info-data{
    color: #4CAF50;
}

.controls-item, .toggle-size{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.controls-item img, .toggle-size img{
    width: 16px;
    height: 16px;
}