<div class="audio-track" [class.minimized]="isMinimized">
    <div class="progress-bar">
        <div class="progress" [style.width]="progress + '%'"></div>
    </div>
    <div class="content" *ngIf="!isMinimized">
        <div class="info">
            <span>Примерное время озвучки: <span class="info-data">{{ formatTime(totalDuration) }}</span></span>
            <span>Имя файла: <span class="info-data">{{ fileName }}</span></span>
            <span>Голос: <span class="info-data">{{ gender === 'male' ? 'Мужской' : 'Женский' }}</span></span>
        </div>
        <div class="disclaimer">
            <p class="disclaimer-item">
                Время озвучки указано приблизительно, так как точная длительность зависит от системы и голосового движка.
            </p>
            <p class="disclaimer-item">
                Озвучка выполнена синтезированным голосом и может не полностью передавать эмоциональную или смысловую тонкость текста.
            </p>
        </div>
    </div>
    <div class="controls">
        <button class="controls-item" (click)="togglePlayPause()" [disabled]="!TTSService.isSpeaking()">
            <img *ngIf="!TTSService.isPaused()" src="assets/icons/svg/audio/controls/play.svg">
            <img *ngIf="TTSService.isPaused()" src="assets/icons/svg/audio/controls/pause.svg">
        </button>
        <button class="controls-item" (click)="stop()" [disabled]="!TTSService.isSpeaking()">
            <img src="assets/icons/svg/audio/controls/stop.svg">
        </button>
        <button class="controls-item" (click)="close()">
            <img src="assets/icons/svg/audio/controls/close.svg"/>
        </button>
        <button class="toggle-size" (click)="toggleMinimize()">
            <img *ngIf="!isMinimized" src="assets/icons/svg/audio/controls/collapse.svg">
            <img *ngIf="isMinimized" src="assets/icons/svg/audio/controls/expand.svg">
        </button>
    </div>
</div>