/* theme.css */
:root {
    --background-color: white;
    --text-color: black;
    --green-color: green;
    --text-description-color: #888;
    --text-header-gray-color: #333;
    --sidebar-color: #333;
    --success: #28a745;
    --primary: #007bff;
    --danger: #dc3545;
    --warning: #ffc107;
}

body.dark {
    --background-color: #222020;
    --sidebar-color: #333;
    --text-color: #ffffff;
    --green-color: green;
    --text-description-color: #888;
    --text-header-gray-color: #333;
    --success: #28a745;
    --primary: #007bff;
    --danger: #dc3545;
    --warning: #ffc107;
}
