<!--<div class="modal-overlay">-->
<!--    <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <h2>Сравнение версий {{ prevVersionNumber }} и {{ currentVersionNumber }}</h2>-->
<!--            <button class="close-button" (click)="onClose()">×</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <div class="diff-container">-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ prevVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ prevFileSize }} байт</p>-->
<!--                        <p>Символов: {{ prevStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ prevStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ prevStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-content" [innerHTML]="prevDiffContent"></div>-->
<!--                </div>-->
<!--                <div class="arrows-column">-->
<!--                    <ng-container *ngIf="prevDiffContent && currentDiffContent">-->
<!--                        <svg #arrowsSvg class="arrows-svg" width="50" height="100%">-->
<!--                        </svg>-->
<!--                    </ng-container>-->
<!--                </div>-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ currentVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ currentFileSize }} байт</p>-->
<!--                        <p>Символов: {{ currentStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ currentStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ currentStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-content" [innerHTML]="currentDiffContent"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal-overlay">-->
<!--    <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <h2>Сравнение версий {{ prevVersionNumber }} и {{ currentVersionNumber }}</h2>-->
<!--            <button class="close-button" (click)="onClose()">×</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <div class="diff-container">-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ prevVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ prevFileSize }} байт</p>-->
<!--                        <p>Символов: {{ prevStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ prevStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ prevStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-wrapper">-->
<!--                        <div class="line-numbers">-->
<!--                            <div *ngFor="let num of prevLineNumbers" class="line-number">{{ num }}</div>-->
<!--                        </div>-->
<!--                        <div class="diff-content" [innerHTML]="prevDiffContent"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="arrows-column">-->
<!--                    <ng-container *ngIf="prevDiffContent && currentDiffContent">-->
<!--                        <svg #arrowsSvg class="arrows-svg" width="50" height="100%"></svg>-->
<!--                    </ng-container>-->
<!--                </div>-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ currentVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ currentFileSize }} байт</p>-->
<!--                        <p>Символов: {{ currentStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ currentStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ currentStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-wrapper">-->
<!--                        <div class="line-numbers">-->
<!--                            <div *ngFor="let num of currentLineNumbers" class="line-number">{{ num }}</div>-->
<!--                        </div>-->
<!--                        <div class="diff-content" [innerHTML]="currentDiffContent"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal-overlay">-->
<!--    <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <h2>Сравнение версий {{ prevVersionNumber }} и {{ currentVersionNumber }}</h2>-->
<!--            <button class="close-button" (click)="onClose()">×</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <div class="diff-container">-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ prevVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ prevFileSize }} байт</p>-->
<!--                        <p>Символов: {{ prevStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ prevStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ prevStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-wrapper">-->
<!--                        <div class="line-numbers">-->
<!--                            <div *ngFor="let num of prevLineNumbers; let i = index" class="line-number">-->
<!--                                <span *ngIf="prevLineChanges[i] === 'removed'" class="diff-marker">-</span>-->
<!--                                {{ num }}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="diff-content" [innerHTML]="prevDiffContent"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="arrows-column">-->
<!--                    <ng-container *ngIf="prevDiffContent && currentDiffContent">-->
<!--                        <svg #arrowsSvg class="arrows-svg" width="50" height="100%"></svg>-->
<!--                    </ng-container>-->
<!--                </div>-->
<!--                <div class="version-column">-->
<!--                    <h3>Версия {{ currentVersionNumber }}</h3>-->
<!--                    <div class="stats">-->
<!--                        <p>Размер файла: {{ currentFileSize }} байт</p>-->
<!--                        <p>Символов: {{ currentStats?.characterCount }}</p>-->
<!--                        <p>Слов: {{ currentStats?.wordCount }}</p>-->
<!--                        <p>Строк: {{ currentStats?.lineCount }}</p>-->
<!--                    </div>-->
<!--                    <div class="diff-wrapper">-->
<!--                        <div class="line-numbers">-->
<!--                            <div *ngFor="let num of currentLineNumbers; let i = index" class="line-number">-->
<!--                                <span *ngIf="currentLineChanges[i] === 'added'" class="diff-marker">+</span>-->
<!--                                {{ num }}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="diff-content" [innerHTML]="currentDiffContent"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Сравнение версий {{ currentVersionNumber }} и {{ prevVersionNumber }}</h2>
            <button class="close-button" (click)="onClose()">×</button>
        </div>
        <div class="modal-body">
            <div class="diff-container">
                <div class="version-column">
                    <h3>Версия {{ currentVersionNumber }}</h3>
                    <div class="stats">
                        <p>Размер файла: <span [style.color]="getFileSizeColor()">{{ currentFileSize }}</span> байт</p>
                        <p>Символов: <span [style.color]="getCharacterCountColor()">{{ currentStats?.characterCount }}</span></p>
                        <p>Слов: <span [style.color]="getWordCountColor()">{{ currentStats?.wordCount }}</span></p>
                        <p>Строк: <span [style.color]="getLineCountColor()">{{ currentStats?.lineCount }}</span></p>
                    </div>
                    <div class="diff-wrapper">
                        <div class="line-numbers">
                            <div *ngFor="let num of currentLineNumbers; let i = index" class="line-number">
                                <span *ngIf="currentLineChanges[i] === 'added'" class="diff-marker">+</span>
                                <span *ngIf="currentLineChanges[i] === 'removed'" class="diff-marker">-</span>
                                {{ num }}
                            </div>
                        </div>
                        <div class="diff-content" [innerHTML]="currentDiffContent"></div>
                    </div>
                </div>
                <div class="arrows-column">
                    <ng-container *ngIf="prevDiffContent && currentDiffContent">
                        <svg #arrowsSvg class="arrows-svg" width="50" height="100%"></svg>
                    </ng-container>
                </div>
                <div class="version-column">
                    <h3>Версия {{ prevVersionNumber }}</h3>
                    <div class="stats">
                        <p>Размер файла: <span [style.color]="getFileSizeColorReverse()">{{ prevFileSize }}</span> байт</p>
                        <p>Символов: <span [style.color]="getCharacterCountColorReverse()">{{ prevStats?.characterCount }}</span></p>
                        <p>Слов: <span [style.color]="getWordCountColorReverse()">{{ prevStats?.wordCount }}</span></p>
                        <p>Строк: <span [style.color]="getLineCountColorReverse()">{{ prevStats?.lineCount }}</span></p>
                    </div>
                    <div class="diff-wrapper">
                        <div class="line-numbers">
                            <div *ngFor="let num of prevLineNumbers; let i = index" class="line-number">
                                <span *ngIf="prevLineChanges[i] === 'added'" class="diff-marker">+</span>
                                <span *ngIf="prevLineChanges[i] === 'removed'" class="diff-marker">-</span>
                                {{ num }}
                            </div>
                        </div>
                        <div class="diff-content" [innerHTML]="prevDiffContent"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>